{#
/**
 * @file bounded_area.html.twig
 * Default theme implementation to present Bounded area data.
 *
 * This template is used when viewing Bounded area pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bounded_area()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bounded_area') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
