{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {% for canvas_case in canvas_block %}
    <div class="row">
      {% for canvas_case_block in canvas_case %}
        <div class="{{ col_class }}">
          {% set index=canvas_case_block.key %}
          {% set label=attribute(elements, index) %}
          {% set entity=canvas_case_block.entity %}
          <canvas class="fabric-ds" data-dim1="{{ attribute(attribute(attribute(entity, 'Dim1'), 0), 'value') }}"
                  data-dim2="{{ attribute(attribute(attribute(entity, 'Dim2'), 0), 'value') }}"
                  data-windows="{{ attribute(entity, 'windows') |json_encode() }}"
                  data-access="{{ attribute(entity, 'accesses') |json_encode() }}" 
                  data-number-windows="{{ attribute(attribute(attribute(entity, 'Number_of_Windows'), 0), 'value') }}"
                  data-number-access="{{ attribute(attribute(attribute(entity, 'Number_of_Accesses'), 0), 'value') }}"
                  data-config="{{ attribute(canvas_case_block, 'output') }}" data-id="{{ attribute(canvas_case_block, 'id') }}" 
                  id="{{ attribute(canvas_case_block, 'id') }}"
                  data-rgb="rgb({{ label.R }}, {{ label.G }}, {{ label.B }})"></canvas>
            {% autoescape %}
              {{ canvas_case_block.html|raw }}
            {% endautoescape %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
