{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_fabricblockcase()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ content }}
  <div class="row">
    {% for canvas_case_block in canvas_block %}
        <div class="col">
            {% set index=canvas_case_block.key %}
            {% set label=attribute(elements, index) %}
            <canvas id="{{ canvas_case_block.id }}" data-rgb="rgb({{ label.R }}, {{ label.G }}, {{ label.B }})"></canvas>
            {{ canvas_case_block.html }}
        </div>
    {% endfor %}
  </div>
</div>
